a,
h1,
h5 {
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.text-green {
    color: $deep-green;
}

.text-grey {
    color: $deep-grey;
}


/* ------------------ basic ------------------ */


/* 大標 */

h1 {
    font-size: 8vw;
    @media screen and (min-width: $screen-sm-min) {
        font-size: 46px;
    }
}


h5 {
    font-size: 4vw;
    @media screen and (min-width: $screen-sm-min) {
        font-size:18px;
    }
}