@for $i from 1 to 2 {
    .ls-$i {
        letter-spacing: $(i)px;
    }
}

@each $i in (10) {
    .mr-$(i) {
        margin-right: $(i)px;
    }
    .mb-$(i) {
        margin-bottom: $(i)px;
    }
    .pt-$(i) {
        padding-top: $(i)px;
    }
    .pr-$(i) {
        padding-right: $(i)px;
    }
    .pl-$(i) {
        padding-left: $(i)px;
    }
    .pb-$(i) {
        padding-bottom: $(i)px;
    }
}

@each $i in (5, 10, 20, 30, 40) {
    .w-$(i) {
        width: $(i)vw;
        height: $mask-block-height;
    }
}

@each $i in (100) {
    .fw-$(i) {
        font-weight: $i;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-40 {
    margin-bottom: 40px;
}

.min-w-80 {
    min-width: 80px;
}

/**
  * ----- text color ------
**/

.text-white {
    color: #fff;
}


/**
  * ----- text align ------
**/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}




/**
  * ----- box model ------
**/
.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-50p {
    margin-left: 50%;
}

.noPadding {
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.pull-right {
    float: right;
}

.cursorPointer {
    cursor: pointer;
}