@for $i from 1 to 8 {
    .t-$i {
        transform: translateY($(i)px);
    }
    .l-$i {
        transform: translateX($(i)px);
    }
    .b-$i {
        transform: translateY(-$(i)px);
    }
    .r-$i {
        transform: translateX(-$(i)px);
    }
    .ls-$i {
        letter-spacing: $(i)px;
    }
}

@for $i from 9 to 16 {
    .t-$i {
        transform: translateY($(i)px);
    }
    .l-$i {
        transform: translateX($(i)px);
    }
    .b-$i {
        transform: translateY(-$(i)px);
    }
    .r-$i {
        transform: translateX(-$(i)px);
    }
}

@each $i in (5, 10, 15, 20, 25, 30, 35, 40) {
    .mt-$(i) {
        margin-top: $(i)px;
    }
    .mr-$(i) {
        margin-right: $(i)px;
    }
    .ml-$(i) {
        margin-left: $(i)px;
    }
    .mb-$(i) {
        margin-bottom: $(i)px;
    }
    .pt-$(i) {
        padding-top: $(i)px;
    }
    .pr-$(i) {
        padding-right: $(i)px;
    }
    .pl-$(i) {
        padding-left: $(i)px;
    }
    .pb-$(i) {
        padding-bottom: $(i)px;
    }
    .w-$(i){
        width:$(i)vw;
        height:$mask-block-height;
    }
}

@each $i in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .fw-$(i) {
        font-weight: $i;
    }
}

.clearfix {
    clear: both;
}


/**
  * ----- text color ------
**/

.text-white {
    color: #fff;
}

.text-red {
    color: $red;
}

.text-deep-green {
    color: $deep-green;
}

.text-light-green {
    color: $ligh-green;
}

.text-deep-grey {
    color: $deep-grey;
}


/**
  * ----- text align ------
**/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/**
  * ----- background color ------
**/

.bg-white {
    background: #fff;
}

.bg-red {
    background-color: $red;
}

.bg-deep-green {
    background-color: $deep-green;
}

.bg-light-green {
    background-color: $ligh-green;
}

.bg-deep-grey {
    background-color: $deep-grey;
}


/**
  * ----- box model ------
**/

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-50p {
    margin-left: 50%;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pt-0 {
    padding-top: 0;
}

.noPadding {
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.vertical-bottom {
    vertical-align: bottom;
}


/**
  * ----- text shadow ------
**/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.bgCover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.fw-900 {
    font-weight: 900;
}

.h100 {
    height: 100%;
}

.cursorPointer{
    cursor: pointer;
}
/**
  * ----- transform performance ------
**/

.tz0 {
    transform: translateZ(0);
    will-change: transform;
}