@import './_var';
@import './_font';
@import './_oocss';
html,
body,
#root {
    height: 100%;
    .hidden {
        display: none;
    }
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 13pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    padding:10px;
    @media screen and (min-width: $screen-md-min) {
        padding:40px;
    }
}

pre {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  overflow: scroll;
  color:#666;
  line-height: 25px;
  letter-spacing:1px;
  font-size:16px;
  padding:10px;
}