@import './_var';
@import './_font';
@import './_oocss';
html,
body,
#root {
    height: 100%;
    .hidden {
        display: none;
    }
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 13pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    padding: 10px;
    @media screen and (min-width: $screen-sm-min) {
        padding:40px;
    }
    .wrapper-title {
        height: 70px;
        background: #10e8a6;
        background: linear-gradient(135deg, #10e8a6 1%, #9bcacc 100%);
        padding: 20px 20px 40px 20px;
        margin: -10px -10px 40px -10px;
        @media screen and (min-width: $screen-sm-min) {
            background: linear-gradient(135deg, #10e8a6 1%, #1ea3aa 100%);
            text-align: center;
            height: 160px;
            padding: 40px 40px 80px 40px;
            margin: -40px -40px 80px -40px;
            h1 {
                display: inline-block;
                border: 3px solid #fff;
                padding: 10px 40px;
                margin-bottom: 20px;
            }
        }
    }
    .example-title {
        border-top: 2px solid $light-green;
        color: $light-green;
        font-size: 18px;
    }
    .table-api {
        width: 100%;
        overflow-x: scroll;
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th,
        td {
            border: 1px solid #eee;
            padding: 20px 10px;
            @media screen and (max-width: $screen-sm-min) {
                &:nth-child(4) {
                    display: none;
                }
            }
        }
        th {
            background-color: $light-green;
            color: #fff;
        }
        td {
            color: #666;
            font-size: 13px;
            line-height: 18px;
            word-break: break-word;
            pre {
                overflow: visible;
                line-height: 18px;
                font-size: 13px;
                padding: 0;
            }
        }
    }
}

pre {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    overflow: scroll;
    color: #666;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -100vw 0
    }
    100% {
        background-position: 100vw 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -100vw 0
    }
    100% {
        background-position: 100vw 0
    }
}

.mask-wrapper {
    background: #fff;
    .animated-background {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #eee;
        background: linear-gradient(to right, #eee 8%, #dddddd 18%, #eee 33%);
        background-size: 100vw;
        height: 110px;
        position: relative;
    }
}

.background-masker {
    background: #fff;
    position: absolute;
    &.br {
        height: 10px;
        width: 100%;
    }
    &.top-0 {
        top: 0;
    }
    &.top-30 {
        top: 30px;
    }
    &.top-40 {
        top: 40px;
    }
    &.top-70 {
        top: 70px;
    }
    &.top-80 {
        top: 80px;
    }
    &.right-0 {
        right: 0;
    }
    &.left-10 {
        left: 10vw;
    }
    &.left-40 {
        left: 40vw;
    }
}